.accordion-wrapper {
  margin-top: 30px;
}

.ap-input {
  height: 50px;
}

.level.action-buttons .level-right {
  display: none;
}

.result-msg {
  text-align: center;
  color: #888;
  font-weight: 900;
}

.result-msg__error {
  color: #d33333;
}

.searchResult {
  margin-bottom: 25px;

  address {
    font-style: normal;
    word-break: break-all;
  }
}
