@import "./fonts";

$warning: #ffdd57;

.container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.__social-share-container {
  margin-bottom: 1.6rem;
}

.has-border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.has-vertical-paddding {
  padding: 50px 0;
}

.pl--lg {
  padding-left: 3rem;
}

.mb {
  margin-bottom: 1.6rem;
}

.incubated-by-wrapper {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .banner-wrapper {
    text-align: center;
  }
}
